export JAVA_HOME={{ java_home }}
export HADOOP_HOME={{ hadoop_home }}
export HADOOP_CONF_DIR={{ hadoop_home }}/etc/hadoop
export HADOOP_OPTS="-Djava.library.path={{ hadoop_home }}/lib/native"
export HADOOP_LOG_DIR={{ logs_dir }}
export HADOOP_PID_DIR=/var/hadoop/pids
export HADOOP_HEAPSIZE=4096
export HDFS_NAMENODE_OPTS="-Xmx2g -Xms2g -XX:+UseG1GC"
export HDFS_DATANODE_OPTS="-Xmx2g -Xms2g -XX:+UseG1GC"
